

.root {
    padding: 10px;
    border-radius: 10px;
    margin: auto;
    display: flex;
    flex-direction: column;
    max-width: 400px;
    gap: 10px;
    align-items: end;

    input {
        width: calc(100% - 24px);
        padding: 10px;
        border-radius: 10px;
    }
    
    button {
        width: fit-content;
    }
    
    &.notValid {
        background-color: #ff000090;
    }
    
    &:focus-within {
        background-color: #ffffff90;
    }
}

