

.root {
    margin: auto;
    display: flex;
    flex-direction: column;
    max-width: 400px;
    gap: 10px;
    align-items: end;

    input {
        width: calc(100% - 24px);
        padding: 10px;
        border-radius: 10px;
    }
    
    button {
        width: fit-content;
    }
} 